POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=knowledge_hub
POSTGRES_SYNCHRONIZE=true

MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_USER=mongodb
MONGODB_PASSWORD=mongodb
MONGODB_DB=knowledge_hub

REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=
# REDIS_DB=0
# REDIS_KEY_PREFIX=knowledge-hub:
